<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name="io.github.danielnoam.lifelog.widgets.HabitsWidget"
            android:exported="false"
            android:label="@string/widget_habits_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_habits_info" />
        </receiver>

        <receiver
            android:name="io.github.danielnoam.lifelog.widgets.TodosWidget"
            android:exported="false"
            android:label="@string/widget_todos_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_todos_info" />
        </receiver>

        <receiver
            android:name="io.github.danielnoam.lifelog.widgets.QuickAddWidget"
            android:exported="false"
            android:label="@string/widget_quickadd_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_quickadd_info" />
        </receiver>

        <service
            android:name="io.github.danielnoam.lifelog.widgets.ListService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>
</manifest>
